body{
    background-color: bisque;
}

#bingo {
    margin: auto;
    border: 3px solid black;
    height: 650px;
    width: 650px;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
}

#bingo td, th{
    border: 1px solid black;
    width: 130px;
    height: 130px;
}

.cellButton{
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    color:black;

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    text-align: center;
    display: inline-block;
    width: 100%;
    float: none;
    padding-inline-start: 0;
}

.navbar {
    font-size: 0;
}

.navbar li{
    font-size: medium;
    display: inline-flex;
    background-color: #222;
    cursor: pointer;
}

.navbar li:hover{
    background-color: #333;
}

.navbar a{
    text-decoration: none;
    color: white;
    padding: 15px 25px;
}

#size {
    width: 500px;
}

#sizeText{
    vertical-align: super;
    font-size: large;
}

#insta{
    background: url("images/insta.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    fill: white;
}

#github{
    background: url("images/github.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    fill: white;
}

#elemList{
    overflow-y: auto;
    position: relative;
    height: 200px;
    text-align: left;
    padding: 5px;
}

[role="listbox"] {
    min-height: 5em;
    padding: 0;
    background: white;
    border: 1px solid #aaa;
}
  
[role="option"] {
    display: block;
    padding: 2em 0;
    position: relative;
    line-height: 3em;
    text-align: left;
}

.left-area,
.right-area {
  box-sizing: border-box;
  display: inline-block;
  font-size: 18px;
  vertical-align: top;
  width: 650px;
}